.heading{
    font-size:25px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 10px yellow;
}
.heading_div{
    background-color:white;
    padding:10px;
    float:none;
    border-radius: 25px;
    color:red;
    box-shadow:5px 5px 10px red;
}
.object_name{
    font-size:20px;
}
.heading_2{
    font-size:20px;
}
body{
    background-size: cover;
}